<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Afci Formation</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
    <ul class="nav navbar-nav">
        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="/about">About us</a></li>
        <li><a href="/product">Product</a></li>
        <li><a href="/contact">Contact us</a></li>
        <li><a href="/signup">Login Page</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</nav>
</div>
<br/>
<div class="container">
<div class="jumbotron"> <p>
<h1>About Us</h1>
<table class="table">
    <tr>
      <td><img class="logo" src="https://prium-transition.com/wp-content/uploads/2021/01/Comment-devenir-manager-de-transition.jpg" style="height:200px" alt="My_Logo"></td>
        <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim explicabo nemo facere natus a vitae minus neque doloremque, fugit recusandae non eius autem quidem quo facilis earum omnis eveniet doloribus dolor cum nostrum et! Nihil repudiandae animi incidunt dolorem assumenda autem quo impedit tempora perferendis illum quibusdam hic, omnis quis facere nesciunt ex saepe iure praesentium totam error laboriosam explicabo ipsam? Maxime illo minima esse delectus veniam fugit, voluptates distinctio sit reiciendis omnis maiores rem? Est magni sint quaerat, suscipit illum ad ex alias officia quibusdam aspernatur. Eveniet sunt, officiis assumenda dolorum debitis molestias qui laborum fuga doloremque iusto accusantium sint porro numquam repudiandae architecto hic maiores dolor asperiores impedit? Alias asperiores numquam, perspiciatis laudantium saepe ducimus, accusantium modi repellat dolor velit eligendi. Sed vero odit beatae id dignissimos! Voluptatem nobis debitis amet unde nihil. Cumque velit nostrum assumenda fugit quos id, eligendi autem accusamus in doloremque asperiores libero laborum.</td>
    </tr>

</table>
<table class="table">
    <tr>
     
        <td>Lorem ipsum dolor sit amet, laborum tempore, illum odio placeat repudiandae iusto ea ducimus eaque alias quam temporibus? Sequi quis, quos similique non molestiae illum quam reiciendis, nemo praesentium ex officiis recusandae distinctio libero minus eum numquam eligendi ab sunt ad tempore. Aperiam est sunt alias quas, inventore, quo, dolor vero facilis quasi itaque reiciendis impedit earum delectus velit cum. Ea voluptate consequuntur molestiae non libero? Soluta totam aut itaque, sit similique mollitia tempore. Magni magnam ut aliquid ratione ea nam quia ad deserunt nostrum itaque ullam laudantium est corporis commodi asperiores molestias laborum recusandae mollitia, reiciendis cumque quibusdam vero accusamus ipsa placeat. Debitis qui maiores corporis perferendis quae dignissimos vero tenetur minima repudiandae impedit eum, sit doloremque natus. Delectus, laborum atque. Ducimus officia officiis molestias quod deleniti fugiat at asperiores, repudiandae, fuga quibusdam qui voluptatum? Voluptatibus quis consequuntur eum nesciunt dignissimos quibusdam corrupti officiis nam? Laudantium impedit nisi aliquam dicta? Accusamus ratione dolorum accusantium magnam asperiores soluta omnis architecto similique, ex ipsum itaque iure laborum iusto aut corrupti dolores quam? Quisquam iusto esse ab quis pariatur facilis tenetur nihil magnam ad corrupti ipsum voluptates eos commodi quasi minus, non corporis, asperiores assumenda fuga ratione veniam totam. Perspiciatis, excepturi sed asperiores eveniet voluptatem a deleniti sequi omnis reprehenderit consequatur maxime quis atque magnam aut distinctio corrupti consequuntur voluptates eos veritatis exercitationem fugit minus magni. Consectetur magni obcaecati, eos commodi assumenda ut pariatur dolor mollitia minus omnis recusandae quisquam modi asperiores iure aspernatur nesciunt illo voluptates similique, quam eligendi dolore quos! Reiciendis laudantium praesentium aspernatur omnis sequi quam sunt cumque, est mollitia alias architecto cum nam ducimus inventore officiis facere animi! Nobis, labore! Quo distinctio, atque impedit mollitia consectetur praesentium ut earum provident excepturi ab nobis numquam nemo velit deserunt sit dolores error laborum tenetur! Aliquid qui harum ex atque deserunt distinctio molestiae commodi incidunt maxime similique? Totam, vel nostrum? Ullam accusamus omnis adipisci laborum amet ex aperiam esse eaque? Sapiente, dolorum veritatis corporis nostrum aperiam incidunt velit debitis recusandae exercitationem, dolor esse! Dolor rem, fugit beatae aut labore, amet quaerat dolores veritatis, id repudiandae quod asperiores ducimus quos hic. In nostrum dolor nam quibusdam nisi nulla tenetur ipsa consequatur quidem, accusantium fugiat itaque doloremque vel dicta quos adipisci sit voluptatem officiis consequuntur dolorum beatae omnis! Doloribus saepe incidunt odio praesentium, totam doloremque impedit vel id distinctio officiis blanditiis perferendis eveniet, accusamus nesciunt voluptatem! Corrupti voluptatum nulla aliquam assumenda necessitatibus sequi velit iure, praesentium illo sint pariatur enim aliquid perferendis dolorem! Molestiae consequatur alias ipsam maiores qui quia eveniet cumque iure eaque, rerum iste placeat unde inventore velit cupiditate sit expedita! Ex rerum praesentium vero pariatur, repellendus voluptate consectetur suscipit saepe, quod porro quaerat repudiandae? Velit incidunt, perferendis, vitae aperiam odio doloribus eligendi illo, animi atque totam id ipsa optio doloremque qui. Quia voluptate placeat culpa minima ducimus. Enim hic commodi aliquam ipsam consequuntur, eveniet culpa fuga cum maiores blanditiis necessitatibus omnis numquam dolore est dicta, harum sit in adipisci nobis corporis earum iusto ipsa? Sed, nam?</td>
    </tr>


</table>

</p></div>
</div>
</div>
</body>
</html>